body {
    background-color: #A52A2A; /* Vinho Suave para o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

* {
    text-decoration: none;
}

.box {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: #FFDAB9; /* Rosa Pêssego para o coração */
    transform: rotate(-45deg);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* Certifique-se de que a .box tenha um z-index maior */
}

.box::before,
.box::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #FFDAB9; /* Rosa Pêssego */
    z-index: 1; /* Certifique-se de que os pseudo-elementos fiquem atrás do conteúdo da .box */
}

.box::before {
    width: 200px;
    height: 200px;
    top: -100px;
    left: 0;
}

.box::after {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 0;
}
.title {
    font-size: 20px; /* Tamanho da fonte um pouco maior */
    font-weight: bold; /* Peso da fonte mais grosso */
    color: #D2B48C; /* Cor de Areia para o texto */
    position: absolute;
    top: 30px;
    left: 60px;
    transform: rotate(45deg);
    z-index: 3;
}

.button-container  {
    display: flex;
    justify-content: space-around;
    width: 100px;
    position: absolute;
    bottom: 60px; /* Move os botões um pouco mais para cima */
    left: 20px; /* Move os botões um pouco mais para a direita */
    transform: rotate(45deg); /* Reajusta a rotação dos botões */
    z-index: 3; /* Certifique-se de que os botões fiquem acima dos pseudo-elementos */
}
#download-pdf {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário para posicionar corretamente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    z-index: 4; /* Certifique-se de que o botão fique acima do coração */
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    background-color: #FFF8DC; /* Marfim Claro para o fundo do botão */
    color: #A52A2A; /* Vinho Suave para o texto do botão */
    border: none; /* Remove a borda padrão */
}

button {
    height: 30px;
    width: 50px;
    background: #FFF8DC; /* Marfim Claro para os botões */
    border-radius: 5px;
    color: #A52A2A; /* Vinho Suave para o texto dos botões */
    font-weight: 600;
}